/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  margin: 0;
  padding: 0;
}

.p-4 {
  padding: 1rem;
}

/* Container */
h1 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.w-96 {
  width: 24rem;
}

.border {
  border: 1px solid #ccc;
}

.rounded {
  border-radius: 8px;
}

/* Buttons */
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

.bg-blue-500 {
  background-color: #3b82f6;
  color: white;
}

.bg-green-500 {
  background-color: #10b981;
  color: white;
}

.bg-red-500 {
  background-color: #ef4444;
  color: white;
}

.bg-yellow-500 {
  background-color: #fbbf24;
  color: white;
}

.bg-gray-500 {
  background-color: #6b7280;
  color: white;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

/* Video and Image Preview */
video {
  width: 100%;
  border-radius: 8px;
}

img {
  width: 100%;
  border-radius: 8px;
}

/* Links */
a {
  display: block;
  padding: 0.5rem 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #3b82f6;
  border-radius: 8px;
  margin-top: 1rem;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
